<div class="row">
    <div id="jda" class="col-xl-6 col-md-5 col-sm-4" ></div>
    <div class="col-xl-6 col-md-5 col-sm-4">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estudiar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trabajar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Tu salud</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Transparencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Noticias</a>
            </li>
           
          </ul>
    </div>
</div>
